<div class="forgot-password">
	<div class="form-elements" *ngIf="currentForm == 'forgot-password'">
		<h3 class="heading">Forgot your password?</h3>
		<h4 class="sub-heading">Enter your e-mail and we will send you a password reset link.</h4>
		<form novalidate (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
			<div class="form-group bottom-margin-30">
				<input name="email" class="form-control" placeholder="Email" formControlName="email" />
				<small class="error" *ngIf="forgotPasswordForm.get('email').dirty == true && forgotPasswordForm.get('email').errors && forgotPasswordForm.get('email').errors.required == true">Email
					is required</small>
				<!-- <small class="error" *ngIf="forgotPasswordForm.get('email').dirty == true && forgotPasswordForm.get('email').errors && forgotPasswordForm.get('email').errors.email == true && forgotPasswordForm.get('email').errors.required != true">Please
					enter a valid email</small> -->
					<small class="error" *ngIf="forgotPasswordForm.get('email').errors?.pattern">Please
						enter a valid email</small>
			</div>
			<div *ngIf="sendReqServerError" class="error text-center">{{sendReqServerError}}</div>
			<div class="form-group btn-group">
				<button [disabled]="isLoading" class="button sendrequest-btn" type="submit">Send Request <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i></button>
				<br/>
				<a class="login-link color" [class.disabled]="isLoading" (click)="setActivePage('login')">Back to Sign in?</a>
			</div>
		</form>
	</div>
	<div class="form-elements" *ngIf="currentForm == 'verify'">
		<h3 class="heading">Forgot Password</h3>
		<h4 class="sub-heading">Password Reset</h4>
		<form novalidate (ngSubmit)="onSubmitNewPassword()" [formGroup]="passwordResetForm">
			<div class="form-group">
				<input name="text" class="form-control" placeholder="Verification Code" formControlName="verification-code" />
				<small class="error" *ngIf="passwordResetForm.get('verification-code').dirty == true && passwordResetForm.get('verification-code').errors && passwordResetForm.get('verification-code').errors.required == true">Verification
					Code is required</small>
			</div>
			<div class="form-group">
				<input name="password" type="password" class="form-control" placeholder="Password" formControlName="password" />
				<small class="error" *ngIf="passwordResetForm.get('password').dirty == true && passwordResetForm.get('password').errors && passwordResetForm.get('password').errors.required == true">Password
					is required</small>
				<small class="error" *ngIf="passwordResetForm.get('password').dirty == true && passwordResetForm.get('password').errors && passwordResetForm.get('password').errors.lowercase == true">Password
					should contain atleast one of 'a-z'</small>
				<small class="error" *ngIf="passwordResetForm.get('password').dirty == true && passwordResetForm.get('password').errors && passwordResetForm.get('password').errors.caps == true">Password
					should contain atleast one of 'A-Z'</small>
				<small class="error" *ngIf="passwordResetForm.get('password').dirty == true && passwordResetForm.get('password').errors && passwordResetForm.get('password').errors.number == true">Password
					should contain atleast one of '0-9'</small>
				<small class="error" *ngIf="passwordResetForm.get('password').dirty == true && passwordResetForm.get('password').errors && passwordResetForm.get('password').errors.specialCharacter == true">Password
					should contain atleast one special characted(!@#\$%\^&\*)</small>
				<small class="error" *ngIf="passwordResetForm.get('password').dirty == true && passwordResetForm.get('password').errors && passwordResetForm.get('password').errors.length == true">Password
					should contain atleast '8' characters long</small>
			</div>
			<div class="form-group">
				<input name="confirmpassword" type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" />
				<small class="error" *ngIf="passwordResetForm.get('confirmPassword').dirty == true && passwordResetForm.get('confirmPassword').errors && passwordResetForm.get('confirmPassword').errors.required == true">Confirm
					Password is required</small>
				<small class="error" *ngIf="passwordResetForm.get('confirmPassword').dirty == true && passwordResetForm.get('confirmPassword').errors && passwordResetForm.get('confirmPassword').errors.notmatch == true">Password
					does not match the confirm password.</small>
			</div>
			<div *ngIf="restPasswordServerError" class="error text-center">{{restPasswordServerError}}</div>
			<div class="form-group btn-group">
				<button [disabled]="isLoading" class="button sendrequest-btn" type="submit">Reset Password <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i></button>
				<br/>
				<a class="login-link color" [class.disabled]="isLoading" (click)="setActivePage('login')">Back to Sign in?</a>
			</div>
		</form>
	</div>
	<div class="form-elements" *ngIf="currentForm == 'verify-success'">
		<h3 class="heading">Forgot Password</h3>
		<h4 class="sub-heading">Password Reset Successfully</h4>
		<form>
			<div class="form-group btn-group">
				<button [disabled]="isLoading" class="button sendrequest-btn" (click)="setActivePage('login')">Sign in</button>
			</div>
		</form>
	</div>
	<div class="footer-text">
		<span (click)="setActivePage('terms-of-service')">Terms of use. Privacy Policy</span>
	</div>
</div>