.exchange-second-section {
  text-align: center;
}

.wallet-tabs {
  display: inline-block;
  background: grey;
  width: 40%;
}
.order-tabs {
  display: inline-block;
  background: grey;
  width: 59%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 5px solid #4EBCF4;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.t1{
  min-height: 500px;max-height: 500px;
}

.t11{
  min-height: 500px;max-height: 500px;
  background: #2f343f;
  /*background: white;*/
}

.t12{
  min-height: 500px;max-height: 500px;
  padding-right: 0px;
}


.container1{
  background: #323c49;
  padding-top: 10px;
  /*height:100vh;*/
  padding-bottom: 10px;
  margin-top: 30px;
}

.container2{
  margin-bottom: 20px;
}

.container21{
  margin-bottom: 30px;
  padding-right: 0px;
}

.t2{
  min-height: 400px;
  max-height: 400px;
  overflow-y: hidden;
  color: white;
}

.t2b{
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  background: #323640;padding: 0;
}


/*Top Tabs*/

.btn-success1 {
  color: #fff;
  background-color: #28262e !important;
  border-color: #28262e !important;
}

.btn1 {
  min-width: 100%;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  /*-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;*/
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.options{
  background: white;
  color: black;
}

.tabdiv {
  /*background: #28262e;*/
  line-height: 3;
}

.popup-box {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.8);
  z-index: 9999;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.popup-box-gif {
  text-align: center;
}

.popup-gif {
  margin: 0 auto;
  width: 30%;
  height: 20rem;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 99999;
}

.popup_header {
  color: #fff;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-bottom: .5px solid #333;
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
  background-image: gradient(linear, left top, left bottom, from(#382673), to(#682382));*/
  background: #28272e;
}

.popup_content {
  padding: 2rem;
  text-align: center;
}

.popup_sub {
  display: block;
  font-size: 1.7rem;
  text-align: center;
  padding-bottom: 3rem;
}

.gif_footer {
  font-size: 2rem;
}

.sign-publish-portfolio-button {
  border-radius: 4px;
  font-size: 15px;
  padding: 9px 30px;
  border: none;
  cursor: pointer;
  outline: none;
  background: #382673;
  outline: none;
  color: white;
}

.sign-publish-portfolio-button:focus {
  outline: none;
}

.sign-publish-portfolio-button:not(:disabled):hover,
.sign-publish-portfolio-button:not(:disabled):focus {
  box-shadow: 0px 2px 2px 0px grey;
}

.sign-publish-portfolio-button:disabled {
  background-color: #F4F4F3;
  color: #b9b8b8;
  border: none;
  cursor: not-allowed;
}
