<!-- <div class="">
  <div class="container row col-12 container21">
    <exchange-wallet-select-inline></exchange-wallet-select-inline>
  </div>
  <app-basket *ngIf="selectedExchange == 'eth'"></app-basket>
  <app-basket-neo *ngIf="selectedExchange == 'neo'"></app-basket-neo>
</div> -->

<div class="container col-12 container1">
	<div class="container row col-12 container21">
		<exchange-wallet-select-inline></exchange-wallet-select-inline>
	</div>
	<app-basket *ngIf="selectedExchange == 'eth'"></app-basket>
  <app-basket-wan *ngIf="selectedExchange == 'wan'"></app-basket-wan>
    <app-basket-neo *ngIf="selectedExchange == 'neo'"></app-basket-neo>
    <app-basket-aion *ngIf="selectedExchange == 'aion'"></app-basket-aion>
</div>