<div>
	<div class="container">
		<div class="row col-12">
			<div class="col-sm-6">
				<div *ngIf="!showFullScreen">
					<div>
						<select [(ngModel)]="selectedExchange" (change)="setSelectedExchange()" class="btn1 btn-success1 dropdown-toggle">
							<option value="" disabled="" selected="">Select Exchange</option>
							<option *ngFor="let e of exchanges ; let i = index" [ngValue]="e">{{e.name}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div>
					<select class="btn1 btn-success1 dropdown-toggle" #selectElem (change)="onSelectWallet()" [(ngModel)]="selectedWallet">
						<option value="" disabled="" selected="">Select Wallet  <span *ngIf="selectedExchange?.name">({{selectedExchange?.name}})</span></option>
						<optgroup label="Wallets" *ngIf="wallets.length">
							<option *ngFor="let w of wallets; let i = index" [ngValue]="w" (click)="requestForTheme(w)">{{w.walletName}} - {{w.getAddress()}}</option>
						</optgroup>

						<!-- <optgroup label="Ledger Wallets" *ngIf="hdWallets.length">
							<option *ngFor="let w of hdWallets; let i = index" [ngValue]="w" (click)="requestForTheme(w)">{{w.walletName}} - {{w.getAddress()}}</option>
						</optgroup> -->
					</select>
				</div>
			</div>
		</div>
	</div>
	
	<div class="popup-box" *ngIf="displayPopup || showFullScreen">
	  <div class="popup-gif">
	    <div class="popup_header">Please select your Exchange and Wallet</div>
	    <div class="popup_content" style="background: white;">
	      <exchange-wallet-select [exchangeName]="exchange" [walletAddress]="wallet" [successCallback]="handleSuccess" [cancel]="cancelCallback" [showCancel]="!showFullScreen"></exchange-wallet-select>
	    </div>
	  </div>
	</div>
</div>
