<!-- <main> -->
<div class="container-fluid dashboard">
	<div class="row first-row">
		<div class="col-xxl-8">
			<div class="content">
				<h6 class="content-heading">
					Porfolio at a Glance
					<span class="tp-selector">All</span>
					<span class="tp-selector">1Y</span>
					<span class="tp-selector">1M</span>
					<span class="tp-selector">1D</span>
					<span class="tp-selector">1H</span>
				</h6>
				<div class="content-body">
					<portfolio-graph></portfolio-graph>	
				</div>
			</div>
		</div>
		<div class="col-xxl-4 d-sm-none d-xxl-block">
			<div class="content">
				<h6 class="content-heading">Porfolio Breakdown</h6>
				<div class="content-body">
					<portfolio-breakdown></portfolio-breakdown>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xxl-8">
			<div class="content-body2">
				<div class="ws-swiper">
					<div class="row">
						<div class="col">
							<div class="floating-tab">
								<dashboard-wallet [data]="ethTokenData"></dashboard-wallet>	
							</div>		
						</div>
						<div class="col">
							<div class="floating-tab">
								<dashboard-wallet [data]="neoTokenData"></dashboard-wallet>	
							</div>		
						</div>
						<div class="col third-wallet">
							<div class="floating-tab">
								<dashboard-wallet [data]="wandTokenData"></dashboard-wallet>	
							</div>		
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div>
							<dashboard-recentactivity></dashboard-recentactivity>	
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="col-xxl-4 d-sm-none d-xxl-block">
			<div class="content-auto margin-top-15">
				<h6 class="content-heading">WandX Announcements</h6>
				<div class="content-body">
					<dashboad-anouncements></dashboad-anouncements>
				</div>
			</div>
		</div>
	</div>
</div>
