/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
	margin: 0;
	padding: 0;
	background-color: #3d3d3d;;
	font-family: 'Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i';
    font-size: 15px !important;
}

@font-face {
	font-family: 'Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i';
	src: url(assets/fonts/Roboto/Roboto-Light.ttf);
}

.amcharts-chart-div a {
    display: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
.mat-tooltip{
    font-size: 17px !important;
  }
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 100px;
    height: 50px;
    width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

 .pure-checkbox>input[type="checkbox"]+label:before {
    border-color: #b2a2ff !important;
    background-color: #b2a2ff !important;
    margin-left: 401px;
    margin-top: 5px !important;
  
  }
  
  .pure-checkbox>input[type="checkbox"]+label:after{
    margin-left: 401px;
    margin-top: 10px !important;
  }
  
 .list-filter>input
  {
    border-radius: 6px !important;
    border: solid 1px #b7b7b7 !important;
    margin-top: 17px !important;
    margin-left: -15px !important;
    padding: 13px !important;
    font-family: Helvetica !important;
    font-size: 16px !important;
  }
   .list-filter{
    border-bottom:0px !important;
  }
  .list-filter .c-search>svg
  {
  display: none;
  }
  
  .list-area
  {
    width:453px !important;
  }
 .dropdown-list>ul[_ngcontent-c18]>li
  {
    /* margin-top: 15px; */
    border-bottom: solid 1px #b7b7b7;
    margin-left: 20px;
    margin-right: 10px; 
  }
  label 
  {
    margin-left: -29px;
  }
  
  .dropdown-list>ul
  {
  margin-bottom: 0px;
  margin-top: 18px
  }

  #tokenSelect .cuppa-dropdown .selected-list .c-btn.form-control:first-child
  {
      width:453px !important;
  }
  #legenddiv
  {
    margin-left: -42px;
  }

  .dropdown-list[_ngcontent-c18] ul[_ngcontent-c18]
  {
      padding:9px !important;
      margin-top: 32px !important;
  }