.trback{
	background: linear-gradient(45deg, #434053 0%, #201E29 100%);
}

.whitetext{
	/*padding-top: 0;padding-bottom: 0;*/
}

.redtext{
	color: red;/*padding-top: 0;padding-bottom: 0;*/
}

.greentext{
	color: green;/*padding-top: 0;padding-bottom: 0;*/
}

table{
	text-align: center;
}

button{
	width: 70%;
  background: none;
  border-color: #ffffff;
  color: white;
  border-radius: 5px;
  border: 0.5px solid;
  padding: 5px;
}
button.sync {
  width: 100px;
  float: right;
}
.container1{
	padding: 20px;
	background: #323640;
	min-height: 100%;
  max-height: 100%;
  /*padding-top: 50px;padding-left: 35px;padding-right: 35px;*/
  /*overflow-y: scroll;*/
}

h4{
	color: white;
}

.neo{
	width: 20px;
}

.popup-box {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.8);
  z-index: 9999;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.popup-box-gif {
  text-align: center;
}

.popup-gif {
  margin: 0 auto;
  width: 30%;
  height: 25rem;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 99999;
}

.popup_header {
  color: #fff;
  font-size: 20px;
  padding: 2rem;
  text-align: center;
  border-bottom: .5px solid #333;
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#382673), to(#682382));
  background-image: gradient(linear, left top, left bottom, from(#382673), to(#682382));*/
  background: #28272e;
}

.popup_content {
  padding: 2rem;
  text-align: center;
}

.popup_sub {
  display: block;
  font-size: 1.7rem;
  text-align: center;
  padding-bottom: 3rem;
}

.gif_footer {
  font-size: 2rem;
}

.sign-publish-portfolio-button {
  border-radius: 4px;
  font-size: 15px;
  padding: 9px 30px;
  border: none;
  cursor: pointer;
  outline: none;
  background: #382673;
  outline: none;
  color: white;
}

.sign-publish-portfolio-button:focus {
  outline: none;
}

.sign-publish-portfolio-button:not(:disabled):hover,
.sign-publish-portfolio-button:not(:disabled):focus {
  box-shadow: 0px 2px 2px 0px grey;
}

.sign-publish-portfolio-button:disabled {
  background-color: #F4F4F3;
  color: #b9b8b8;
  border: none;
  cursor: not-allowed;
}