<form #buyForm="ngForm" (ngSubmit)="onSubmitBuy(buyForm)" novalidate>
	<div class="exchange-wallet">
		<div class="row" style="margin-bottom: -10px;">
			<div class="col-sm">
				<!-- <div class="row col-12">
					Eth Wallet Balance {{ethWalletBalance | number:'1.1-3'}}
					{{selectedPlatformToken?.symbol}} Wallet Balance {{platformTokenWalletBalance | number:'1.1-3'}}
				</div> -->
				<div class="row">
					  <div class="col-12">
						  	<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon3">Quantity ({{selectedPlatformToken?.symbol}})</span>
							  </div>
							  <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Quantity" [(ngModel)]="amountToBuy" required name="buyamount" #buyamount="ngModel">
							   <span class="error" *ngIf="buyamount.invalid && buyamount.touched" style="color: #cc823f;z-index: 1;font-size: 11px;">Buy quantity should be greater than zero</span>
							</div>
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon3">Price ({{selectedOfferToken?.symbol}})</span>
							  </div>
							  <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Price" [(ngModel)]="priceToBuy" required name="buyprice" #buyprice="ngModel">
							  <span class="error" *ngIf="buyprice.invalid && buyprice.touched && buyprice.value <= 0" style="color: #cc823f;z-index: 1;font-size: 11px;">Buy price should be greater than zero</span>
							</div>
							<div class="input-group mb-1">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon3">Total</span>
							  </div>
							  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="78653292 ETH" readonly [value]="getBuyTotalValue() | number : '.0-8'" name="basic-url">
							</div>
							<div>
								<p class="mb-1" style="color: white;">Eth Wallet Balance {{ethWalletBalance | number:'1.1-3'}}</p>
								<p class="mb-2" style="color: white;">{{selectedPlatformToken?.symbol}} Wallet Balance {{platformTokenWalletBalance | number:'1.1-3'}}</p>
							</div>
					  </div>
				</div>
			</div>
			<div class="col-sm">
				<div class="row">
				  <div class="col-12">
				    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				      <a class="nav-link r1" id="v-pills-home-tab" data-toggle="pill" role="tab">Transaction Summary</a>
				      <a class="nav-link r2" id="v-pills-profile-tab" data-toggle="pill" role="tab">
                <!-- <div class="exdiv" *ngIf="amountToBuy">Buying {{amountToBuy}} {{selectedPlatformToken?.symbol}} @ {{priceToBuy}} {{selectedOfferToken?.symbol}}</div> -->
				      	<span>Quantity<span class="lspan">{{amountToBuy}} {{selectedPlatformToken?.symbol}}</span></span>
				      	<div>Price<span class="lspan">{{priceToBuy}} {{selectedOfferToken?.symbol}}</span></div>
				      </a>
				      <a class="nav-link r3" id="v-pills-messages-tab" data-toggle="pill" role="tab">Total<span class="lspan">{{getBuyTotalValue()}} {{selectedOfferToken?.symbol}}</span></a>
				    </div>
				    <span class="red" style="font-size: 15px;">*Enabling WAND would reduce exchange fee by 75% <span class="green">Exchange Fee : {{getBuyExchangeFee() | number:'.0-6'}} </span></span>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<div class="row">
					<div class="col-sm">
						<div class="enableBtn">
				            <p matTooltip="This authorizes the Tokens to be traded from your Wallet address" [matTooltipPosition]="'above'">Turn on to use WAND to pay for the exchange fee</p>
				            <div class="checkboxValue row col-12">
				              <ui-switch size="small" name="uiSwitch2" [(ngModel)]="authorizeWand" (change)="onAuthorizeWandChange($event)"></ui-switch>
				              <p>WAND</p>
				            </div>
				        </div>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="useWandxForFee" name="customCheck1">
				  <label class="custom-control-label" for="customCheck1">Use WAND for fee reduction<span>0.1% fee = 0.009 USD</span></label>
				</div>
				<br>
				<div class="row">
				  <div class="col-12">
				    <button class="sign-publish-portfolio-button" type="submit">Complete Transaction</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div id="myModal" class="popup-box summary-modal" *ngIf="isBuySummaryModalVisible">
	    <div class="popup-gif modal-content">
	      <div class="popup_header">
	        <p>Buy summary for: <span>{{selectedPlatformToken.symbol}}</span></p>
	      </div>
	      <div class="gif_footer">
	        <div class="row">
	          <div class="col-md-6">
	            <div class="details">
	              <p>Quantity ({{selectedPlatformToken.symbol}})</p>
	              <p>Exchange Fee</p>
	              <p>Prices for 1 {{selectedPlatformToken.symbol}}</p>
	            </div>
	          </div>
	          <div class="col-md-6">
	            <div class="value">
	              <p>{{amountToBuy}}</p>
	              <p>{{getBuyExchangeFee() | number: '.0-8' }}</p>
	              <p>{{priceToBuy | number:'1.1-6'}} ETH</p>
	            </div>
	          </div>
	        </div>
	        <div class="totalamt">
	          <div class="row">
	            <div class="col-md-6">
	              <p>Total Price</p>
	            </div>
	            <div class="col-md-6">
	              <div class="totalValue">
	                <p>{{getBuyTotalValue() | number:'1.1-6'}} ETH</p>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="executeBtn">
	          <div class="row">
	            <div class="col-md-6">
	              <button class="sign-publish-portfolio-button" (click)="placeBuyOrder()">EXECUTE</button>
	            </div>
	            <div class="col-md-6">
	              <button class="sign-publish-portfolio-button" (click)="isBuySummaryModalVisible = false">CANCEL</button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	</div>
</form>
