<div class="eth" >
	<!-- <div class="container col-12 container1">
		<div class="container row col-12 container21">
			<div class="col-3">
				<div class="tabdiv">
					<select class="btn1 btn-success1 dropdown-toggle" (change)="handleMarketSelect()" [(ngModel)]="selectedMarket">
						<option class="options" *ngFor="let m of markets" [value]="m">{{m.name}}</option>
					</select>
				</div>
			</div>
			<div class="col-3">
				<exchange-platform-token-select></exchange-platform-token-select>
			</div>
		</div>
	</div> -->
	<div class="container col-12 container2">
		<div class="row">
			<div class="col-xl-3 col-md-12 col-lg-3 col-sm-12 t1"><exchange-orderbook-sidepane></exchange-orderbook-sidepane></div>
			<div class="col-xl-6 col-md-12 col-lg-6 col-sm-12 t11">
				<div class="row">
					<div class="col-6">
						<div class="tabdiv">
							<select class="btn1 btn-success1 dropdown-toggle" (change)="handleMarketSelect()" [(ngModel)]="selectedMarket">
								<option class="options" selected="" disabled="" value="">Select Market</option>
								<option class="options" *ngFor="let m of markets" [ngValue]="m">{{m.name}}</option>
							</select>
						</div>
					</div>
					<div class="col-6">
						<exchange-platform-token-select></exchange-platform-token-select>
					</div>
				</div>
				<exchange-graph [exchange]="'eth'"></exchange-graph>
			</div>
			<div class="col-xl-3 col-md-12 col-lg-3 col-sm-12 t12"><exchange-tradehistory-sidepane></exchange-tradehistory-sidepane></div>
		</div>
	</div>
	<div class="container col-12">
		<div class="row">
			<div class="col-xl-6 col-md-12 col-lg-6 col-sm-12 t2">
				<nav>
					<ul class="nav nav-pills" style="background: #28272e;line-height: 10px;">
						<li class="nav-item col-sm" style="padding: 0px;text-align: center;">
							<a [class]="selectedWalletTab == 'depositewithdraw' ? 'nav-link active' : 'nav-link'" (click)="setWalletTab('depositewithdraw')" style="color: white;padding: 17px;">
								Deposit/Withdraw
							</a>
						</li>
						<li class="nav-item col-sm" style="border-left: 2px solid grey;border-right: 2px solid grey;padding: 0px;text-align: center;">
							<a class="nav-link" [class]="selectedWalletTab == 'buy' ? 'nav-link active' : 'nav-link'" (click)="setWalletTab('buy')" style="color: white;padding: 17px;">
								Buy {{selectedPlatformToken?.symbol}}
							</a>
						</li>
						<li class="nav-item col-sm" style="padding: 0px;text-align: center;">
							<a [class]="selectedWalletTab == 'sell' ? 'nav-link active' : 'nav-link'" (click)="setWalletTab('sell')" style="color: white;padding: 17px;">
								Sell {{selectedPlatformToken?.symbol}}
							</a>
						</li>
					</ul>
				</nav>
				<div class="tabs">
					<exchange-depositewithdraw *ngIf="selectedWalletTab == 'depositewithdraw'"></exchange-depositewithdraw>
					<exchange-wallet-buy *ngIf="selectedWalletTab == 'buy'"></exchange-wallet-buy>
					<exchange-wallet-sell *ngIf="selectedWalletTab == 'sell'"></exchange-wallet-sell>
				</div>
				<!-- <router-outlet name="wallettabs"></router-outlet> -->
			</div>
			<div class="col-xl-6 col-md-12 col-lg-6 col-sm-12 t2b">
				<nav>
					<ul class="nav nav-pills" style="background: #28272e;line-height: 10px;">
						<li class="nav-item col-6" style="padding: 0px;text-align: center;">
							<a [class]="selectedOrdersTab == 'openorders' ? 'nav-link active' : 'nav-link'" (click)="setOrderTab('openorders')" style="color: white;padding: 17px;">
								Open Orders
							</a>
						</li>
						<li class="nav-item col-6" style="border-left: 2px solid grey;padding: 0px;text-align: center;">
							<a [class]="selectedOrdersTab == 'orders' ? 'nav-link active' : 'nav-link'" (click)="setOrderTab('orders')" style="color: white;padding: 17px;">
								Order History
							</a>
						</li>
						<!-- <li class="nav-item"><a class="nav-link"  [routerLink]="[{ outlets: { ordertabs: ['tradehistory'] }}]" routerLinkActive="active" style="color: white;">Trade History</a></li> -->
					</ul>
				</nav>
				<div class="tabs">
					<exchange-openorders *ngIf="selectedOrdersTab == 'openorders'"></exchange-openorders>
					<exchange-orderhistory *ngIf="selectedOrdersTab == 'orders'" ></exchange-orderhistory>
				</div>
				<!-- <router-outlet name="ordertabs"></router-outlet> -->
			</div>
		</div>
	</div>
</div>

