<div class="mini-view">
	<div class="centered-container">
		<div class="col logo-container">
			<img src="assets/images/wandx.png">
		</div>
		<div class="col">
			<login *ngIf="activePage == 'login'" (changeActivePage)="onChangeActivePage($event)" (showMainContent)="onShowMainContent($event)"></login>
			<register *ngIf="activePage == 'register'" (changeActivePage)="onChangeActivePage($event)"></register>
			<mailing-list *ngIf="activePage == 'mailing-list'" (changeActivePage)="onChangeActivePage($event)"></mailing-list>
			<forgot-password *ngIf="activePage == 'forgot-password'" (changeActivePage)="onChangeActivePage($event)"></forgot-password>
			<terms-of-service *ngIf="activePage == 'terms-of-service'" (changeActivePage)="onChangeActivePage($event)"></terms-of-service>
		</div>
	</div>
</div>
