.trback{
	background: #2c2e39;
}

.whitetext{
	padding-top: 0;padding-bottom: 0;
}

.whitetext1{
	padding-top: 0;padding-bottom: 0;
	font-weight: 900;
}


.redtext{
	color: red;padding-top: 0;padding-bottom: 0;
}

.greentext{
	color: green;padding-top: 0;padding-bottom: 0;
}

.background {
	background: #323640;
	min-height: 300px;
	max-height: 300px;
	overflow-y: scroll;
}